.navigation {
  width: 100%;
  height: 65px;
  background-color: #fff;
  position: -webkit-sticky;
  position: sticky;
  top: 0;
  display: flex;
  align-items: center;
  font-family: "Roboto", sans-serif;
  z-index: 999;
}
.navigation__left {
  flex: 25%;
}
.navigation__left-logo {
  width: 45%;
  height: auto;
}
.navigation__left, .navigation__right {
  display: flex;
  align-items: center;
  justify-content: center;
}
.navigation__right {
  flex: 50%;
}
.navigation__right-image {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  -o-object-fit: cover;
     object-fit: cover;
  margin-left: 50px;
  cursor: pointer;
}
.navigation__right-list {
  display: flex;
  justify-content: center;
  margin: 0;
  padding: 0;
  list-style: none;
}
.navigation__right-list-item {
  margin-right: 20px;
  font-size: 16px;
  cursor: pointer;
  color: #555555;
}
.navigation__right-list-item:hover {
  color: #007bff;
  transition: 0.5s ease;
}
.navigation__center {
  flex: 25%;
}

.header {
  margin-top: 20px;
}
.header__title {
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: "Roboto", sans-serif;
  color: #555555;
  font-size: 100px;
}
.header__image {
  width: 100%;
  height: 500px;
  margin-top: 20px;
  -o-object-fit: cover;
     object-fit: cover;
}

.blog-posts {
  flex: 80%;
  display: flex;
  flex-wrap: wrap;
  margin: 40px 25px;
}

.sidebar {
  flex: 20%;
  margin: 40px 20px;
  padding: 20px;
  padding-bottom: 30px;
  background-color: #fdfbfb;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
  font-family: "Roboto", sans-serif;
}
.sidebar__image {
  width: 300px;
  height: auto;
  margin-top: 15px;
}
.sidebar__item {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.sidebar__title {
  text-align: center;
  margin: 20px 10px 10px;
  width: 300px;
  border-bottom: 1px solid #007bff;
  color: #555555;
  font-size: 16px;
  line-height: 30px;
}
.sidebar__text {
  padding: 30px;
  text-align: center;
}
.sidebar__list {
  list-style: none;
}
.sidebar__list-item {
  display: inline-block;
  width: 50%;
  text-align: center;
  margin-top: 10px;
  cursor: pointer;
}
.sidebar__list-item:hover {
  color: #007bff;
  transition: 0.5s ease;
}
.sidebar__socials {
  margin-top: 15px;
  width: 250px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.sidebar__social {
  font-size: 16px;
  margin-left: 10px;
  cursor: pointer;
}

.blog-post {
  width: 480px;
  margin: 0 25px 40px;
  font-family: "Roboto", sans-serif;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
}
.blog-post:hover {
  box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
}
.blog-post__image {
  width: 100%;
  height: 300px;
  -o-object-fit: cover;
     object-fit: cover;
  border-radius: 10px;
}
.blog-post__info {
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
}
.blog-post__categories {
  display: flex;
  justify-content: center;
  position: absolute;
  top: 10px;
}
.blog-post__category {
  font-size: 12px;
  font-weight: 700;
  color: #555555;
  border-radius: 4px;
  text-align: center;
  margin: 0 5px;
  text-transform: uppercase;
}
.blog-post__date {
  margin: 10px 20px 0 auto;
  font-size: 12px;
  color: #555555;
}
.blog-post__title {
  font-size: 24px;
  margin-top: 10px;
}
.blog-post__description {
  font-size: 14px;
  line-height: 20px;
  margin: 10px 20px 0 20px;
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 4;
  -webkit-box-orient: vertical;
}
.blog-post__button {
  width: 100px;
  height: 40px;
  margin: 20px 0;
  border: none;
  border-radius: 4px;
  background-color: #007bff;
  color: #fff;
  text-align: center;
  align-self: center;
  cursor: pointer;
}
.blog-post__button:hover {
  background-color: rgb(6, 6, 197);
  transition: 0.5s ease;
}

.single-blog-post {
  flex: 80%;
  font-family: "Roboto", sans-serif;
}
.single-blog-post__wrapper {
  margin: 40px 20px;
  display: flex;
  flex-direction: column;
}
.single-blog-post__image {
  width: 100%;
  height: auto;
  border-radius: 10px;
  -o-object-fit: cover;
     object-fit: cover;
}
.single-blog-post__title {
  text-align: center;
  margin: 20px;
  font-size: 34px;
}
.single-blog-post__title-input {
  font-family: "Roboto", sans-serif;
  text-align: center;
  margin: 20px;
  font-size: 34px;
  border: none;
  border-bottom: 1px solid #007bff;
  color: #555555;
}
.single-blog-post__title-input:focus {
  outline: none;
}
.single-blog-post__actions {
  float: right;
  font-size: 20px;
}
.single-blog-post__icon {
  margin-left: 10px;
  cursor: pointer;
}
.single-blog-post__info {
  margin-bottom: 20px;
  display: flex;
  justify-content: space-between;
  color: #555555;
}
.single-blog-post__author--bolded {
  font-weight: bold;
}
.single-blog-post__description {
  font-size: 18px;
}
.single-blog-post__description::first-letter {
  margin-left: 20px;
  font-size: 25px;
  font-weight: bold;
}
.single-blog-post__description-input {
  font-family: "Roboto", sans-serif;
  margin: 20px;
  border: none;
  font-size: 18px;
  height: 100px;
  border-bottom: 1px solid #007bff;
  color: #555555;
}
.single-blog-post__description-input:focus {
  outline: none;
}
.single-blog-post__button {
  width: 100px;
  height: 40px;
  border: none;
  border-radius: 4px;
  background-color: #007bff;
  color: #fff;
  text-align: center;
  align-self: center;
  cursor: pointer;
}
.single-blog-post__button:hover {
  background-color: rgb(6, 6, 197);
  transition: 0.5s ease;
}

.user {
  width: 400px;
  margin: 0 25px 40px;
  padding-top: 50px;
  font-family: "Roboto", sans-serif;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
}
.user:hover {
  box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
}
.user__image {
  width: 100%;
  height: 200px;
  -o-object-fit: contain;
     object-fit: contain;
  border-radius: 10px;
}
.user__info {
  display: flex;
  flex-direction: column;
  text-align: center;
}
.user__data {
  padding-bottom: 5px;
}
.user__button {
  width: 100px;
  height: 40px;
  margin: 20px 0;
  border: none;
  border-radius: 4px;
  background-color: #007bff;
  color: #fff;
  text-align: center;
  align-self: center;
  cursor: pointer;
}
.user__button:hover {
  background-color: rgb(6, 6, 197);
  transition: 0.5s ease;
}

.users {
  flex: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin: 40px 25px;
}

.comments {
  margin: 20px;
}

.comment {
  display: flex;
  position: relative;
  width: 100%;
  margin: 20px 0;
  padding: 20px;
  background-color: lightgrey;
  border-radius: 20px;
  font-family: "Roboto", sans-serif;
  justify-content: space-between;
}
.comment__info {
  display: flex;
  flex-direction: column;
}
.comment__username {
  font-size: 20px;
  padding-bottom: 10px;
}
.comment__content {
  font-size: 14px;
  width: 800px;
}
.comment__date {
  font-size: 14px;
  position: absolute;
  color: #555555;
  left: 30%;
  top: 23%;
}
.comment__icon {
  cursor: pointer;
}
.comment__button {
  width: 100px;
  height: 40px;
  margin-top: 10px;
  margin-left: 20px;
  border: 2px solid #007bff;
  border-radius: 4px;
  background-color: #007bff;
  color: #fff;
  text-align: center;
  align-self: center;
  cursor: pointer;
}
.comment__button:hover {
  background-color: rgb(6, 6, 197);
  transition: 0.5s ease;
}

.new-comment {
  display: flex;
  width: 100%;
  font-family: "Roboto", sans-serif;
  margin: 50px 20px;
}
.new-comment__content {
  width: 100%;
  padding: 10px;
  font-family: "Roboto", sans-serif;
}
.new-comment__form {
  display: flex;
  width: 100%;
}
.new-comment__image {
  width: 70px;
  height: auto;
  border-radius: 20px;
  -o-object-fit: cover;
     object-fit: cover;
  margin-right: 20px;
}
.new-comment__button {
  width: 100px;
  height: 40px;
  margin-top: 10px;
  margin-left: 20px;
  border: 2px solid #007bff;
  border-radius: 4px;
  background-color: #007bff;
  color: #fff;
  text-align: center;
  align-self: center;
  cursor: pointer;
}
.new-comment__button:hover {
  background-color: rgb(6, 6, 197);
  transition: 0.5s ease;
}

.home {
  display: flex;
}

.single {
  display: flex;
}

.new {
  width: 70%;
  font-family: "Roboto", sans-serif;
  margin: 50px auto 0;
}
.new__image {
  width: 70vw;
  height: 300px;
  border-radius: 10px;
  -o-object-fit: cover;
     object-fit: cover;
}
.new__icon {
  width: 25px;
  height: auto;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 30px;
  margin: 10px 0 20px;
  cursor: pointer;
}
.new__input {
  border: none;
  padding: 20px 0;
  font-family: "Roboto", sans-serif;
  width: 70vw;
}
.new__input:focus {
  outline: none;
}
.new__input-title {
  font-size: 30px;
}
.new__input-description {
  font-size: 20px;
  width: 100%;
  margin-bottom: 20px;
}
.new__button {
  margin-top: 20px;
  width: 100px;
  height: 40px;
  border: 2px solid #007bff;
  border-radius: 4px;
  background-color: #007bff;
  color: #fff;
  text-align: center;
  cursor: pointer;
}
.new__button:hover {
  background-color: rgb(6, 6, 197);
  transition: 0.5s ease;
}

#input__file {
  display: none;
}

.settings {
  display: flex;
  font-family: "Roboto", sans-serif;
}
.settings__wrapper {
  flex: 80%;
  margin: 40px 20px;
}
.settings__title {
  font-size: 30px;
  margin-bottom: 20px;
}
.settings__form {
  display: flex;
  flex-direction: column;
}
.settings__form > label {
  font-size: 20px;
  margin-top: 20px;
}
.settings__form > input {
  color: #555555;
  margin: 10px 0;
  height: 30px;
  border: none;
  border-bottom: 1px solid #007bff;
}
.settings__profile {
  display: flex;
  align-items: center;
  margin: 10px 0;
}
.settings__image {
  width: 70px;
  height: auto;
  border-radius: 20px;
  -o-object-fit: cover;
     object-fit: cover;
}
.settings__icon {
  width: 25px;
  height: 25px;
  border-radius: 50%;
  cursor: pointer;
  background-color: #007bff;
  color: #fff;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-left: 10px;
}
.settings__button {
  width: 100px;
  height: 40px;
  margin-top: 10px;
  border: 2px solid #007bff;
  border-radius: 4px;
  background-color: #007bff;
  color: #fff;
  text-align: center;
  align-self: center;
  cursor: pointer;
}
.settings__button:hover {
  background-color: rgb(6, 6, 197);
  transition: 0.5s ease;
}
.settings__input {
  padding: 0 10px;
}
.settings__input:focus {
  outline: none;
}

.login {
  font-family: "Roboto", sans-serif;
  height: calc(100vh - 50px);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background: linear-gradient(rgba(255, 255, 255, 0.5), rgba(255, 255, 255, 0.5)), url("https://images.unsplash.com/photo-1432821596592-e2c18b78144f?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxzZWFyY2h8MXx8YmxvZyUyMGJhY2tncm91bmR8ZW58MHx8MHx8&w=1000&q=80");
  background-size: cover;
}
y .login__title {
  font-size: 34px;
}
.login__form {
  margin-top: 20px;
  display: flex;
  flex-direction: column;
}
.login__form > label {
  margin: 10px 0;
}
.login__input {
  padding: 10px;
  background-color: #fff;
  border: none;
  border-radius: 5px;
  outline: none;
}
.login__button {
  width: 100%;
  height: 40px;
  margin-top: 20px;
  border: 2px solid #007bff;
  border-radius: 4px;
  background-color: #007bff;
  color: #fff;
  text-align: center;
  cursor: pointer;
}
.login__button:hover {
  background-color: rgb(6, 6, 197);
  transition: 0.5s ease;
}
.login__button:disabled {
  cursor: not-allowed;
  background-color: rgb(6, 6, 197);
}
.login__need-account {
  margin-top: 10px;
}
.login__need-account span {
  font-weight: bold;
  cursor: pointer;
  color: #007bff;
}
.login__need-account span::first-letter {
  margin-left: 10px;
}

.register {
  font-family: "Roboto", sans-serif;
  height: calc(100vh - 50px);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background: linear-gradient(rgba(255, 255, 255, 0.5), rgba(255, 255, 255, 0.5)), url("https://cdn.wallpapersafari.com/9/89/NnZwK8.jpg");
  background-size: cover;
}
.register__title {
  font-size: 34px;
}
.register__form {
  margin-top: 20px;
  display: flex;
  flex-direction: column;
}
.register__form > label {
  margin: 10px 0;
}
.register__input {
  padding: 10px;
  background-color: #fff;
  border: none;
  border-radius: 5px;
  outline: none;
}
.register__button {
  width: 100%;
  height: 40px;
  margin-top: 20px;
  border: none;
  border-radius: 4px;
  background-color: #007bff;
  color: #fff;
  text-align: center;
  cursor: pointer;
}
.register__button:hover {
  background-color: rgb(6, 6, 197);
  transition: 0.5s ease;
}
.register__need-account {
  margin-top: 10px;
}
.register__need-account span {
  font-weight: bold;
  cursor: pointer;
  color: #007bff;
}

* {
  margin: 0;
  padding: 0;
}

.link {
  text-decoration: none;
  color: inherit;
}

.danger {
  color: red;
  font-weight: bold;
  text-align: center;
  margin-top: 15px;
}

.success {
  color: green;
  font-weight: bold;
  text-align: center;
  margin-top: 15px;
}/*# sourceMappingURL=index.css.map */